.modalView {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Posição fixa */
    z-index: 1; /* Índice de camada */
    left: 0; /* Posição esquerda */
    top: 0; /* Posição superior */
    width: 100%; /* Largura */
    height: 100%; /* Altura */
    background-color: rgba(0, 0, 0, 0.4); /* Cor de fundo */
  }
  
  .modal-contentView {
    background-color: #fefefe; /* Cor de fundo */
    margin: 15% auto; /* Margem */
    padding: 20px; /* Preenchimento */
    border: 1px solid #888; /* Borda */
    width: 80%; /* Largura */
    border-radius: 0.5em;
  }
  
  .closeView {
    color: #aaa; /* Cor do texto */
    float: right; /* Posição */
    font-size: 28px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
  }
  
  .closeView:hover,
  .closeView:focus {
    color: black; /* Cor do texto ao passar o mouse */
    text-decoration: none; /* Não exibe sublinhado */
    cursor: pointer; /* Cursor */
  }

.addAtiDiv {
  display: none;
}